[submodule "tests/doctest"]
	path = tests/doctest
	url = https://github.com/doctest/doctest
[submodule "lib/stduuid"]
	path = lib/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling
[submodule "lib/cpp-typelist"]
	path = lib/cpp-typelist
	url = https://github.com/CoolLibs/cpp-typelist
